# Created by .ignore support plugin (hsz.mobi)
.idea
.gradle
*.iml
keystore.properties
build
screenshots
release
gradle
#app/fabric.properties
app/src/main/assets/foursquare.properties
app/src/main/res/values/google_maps_api.xml


